<h1>This Works</h1>

{% schema %}
{
    "name": "Liquid Reference",
    "settings": [
        {
            "type": "text",
            "id": "liquid-ref",
            "label": "A Reference for Shopify Liquid"
        }
    ],
    "templates": ["index", "page", "product"],
    "presets": [
        {
            "name": "Liquid Reference",
            "category": "Liquid"
        }
    ]
}
{% endschema %}
